@import 'element';

*::selection {
	color: #fff;
	background: #000;
}
*::-moz-selection {    
    /*Only Firefox still needs a prefix*/
    color: #fff;
    background: #000;
}

body{
	background-image: url('../images/banner/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

// nav
.top-menu{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
}

.back-arrow{
	position: absolute;
	outline: 0;
	top: 15px;
	left: 15px;
	width: 17px;
	height: 17px;
	border: 0;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: transparent;
	transform: rotate(45deg);
}

.bottom-menu{
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.7);
}


// main
.main-banner{
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 375px;
	height: 100%;
	min-height: 100vh;
}

.header-title{
	position: relative;
	padding: 100px 15px 80px;
	color: $white;
	font-size: $fontHeader;
	text-shadow: $textShadow;
	.plan-s &{
		padding-bottom: 0;
	}
}

.sub-title{
	font-size: 20px;
	margin-bottom: 10px;
}

.main-con{
	.click-block{
		width: 100%;
	}
	padding: 20px;
	padding-bottom: 0;
	.circle{
		margin-bottom: 20px;
		@include circle(120px);
		@extend .box-shadow , .box-style;
		&.active{
			background-color: #d64b4b78;
			border-color: #ce3a3a9e;
		}
	}
	.square{
		display: flex;
		margin: 0px auto 20px;
		@include square(120px);
		@extend .box-shadow , .box-style;
	}
}

.plan-select{
	width: 100%;
	border: 2px solid rgba(255, 255, 255, 0.63);
	margin-bottom: 15px;
	font-size: 20px;
	padding: 4px;
	@extend .box-style;
}

.link-text{
	margin: auto;
}


// Block nutrients
.nutrient-block{

	@extend .box-shadow , .content-style;
}

.input-form{
	margin-bottom: 20px;
}

.input-add{
	@include circle(35px);
	background-color: #5db5a3;
	color: #fff;
	float: right;
	@extend .box-shadow;
}

.input-selected{ 
	width: 80%;
	float: left;
	.selected-item{
		display: inline-block;
		padding: 3px 15px;
		font-weight: bold;
		margin-bottom: 5px;
		@extend .box-shadow;
		@include borderRadius( $white , #3C989E, 3px);
	}
}


// Block result
.result-block{
	position: relative;
	width: 100%;
	margin-bottom: 15px;
	min-height: 130px;
	overflow: hidden;
	padding: 0;
	@extend .box-shadow , .content-style;
	.square{
		box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.12);
		margin: 0 auto;
		@include square(90px);
	}
	.plan-s &{
		display: none;
	}
}

.result-area{
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid rgba(204, 204, 204, 0.7);
	padding: 15px;
	box-shadow: 1px 2px 13px 0px rgba(0, 0, 0, 0.16);

}

.readmore{
	width: 100%;
	border: 0;
	border-top: 1px solid rgba(204, 204, 204, 0.4);
	padding: 10px 0;
	font-size: 14px;
	color: $lightBlack;
	background-color: #e8e8e8;
	&:before{
		content: '';
	}
}

.addnums{
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: calc(50% - 45px);
	background: rgba(255, 255, 255, 0.8);
}

.minus{
	display: inline-block;
	position: relative;
	padding: 5px;
	height: 36px;
	&:before{
		content: '-';
		position: relative;
		top: calc(50% - 15px);
		width: 30px;
		height: 30px;
	}
}

.plus{
	@extend .minus;
	&:before{
		content: '+';
	}	
}

.numCount{
	width: 35px;
	border: 0;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	background: transparent;
}

.select{
	position: relative;
}

// .select:after{
// 	content: "";
// 	width: 0;
// 	height: 0;
// 	border-left: 5px solid transparent;
// 	border-right: 5px solid transparent;
// 	border-top: 6px solid #666;
// 	position: absolute;
// 	right: 20px;
// 	top: 20px;
// 	pointer-events: none;
// }

.result-select{
	padding: 10px;
	width: 100%;
	height: 45px;
}

.result-item{    
	animation: moveFruitBlock linear 0.3s;
	animation-iteration-count: 1; 
	&:last-child{
		margin-bottom: 0px;
	}
}

.result-img{
	position: relative;
	border-radius: 15px;
	overflow: hidden;
	@extend .box-shadow;
}

.result-info{
	position: relative;
	> :not(h4) {
		display: none;	
	}
}

.fruitname{
	text-align: center;
	margin-top: 10px; 
	padding-top: 5px ;
	font-weight: bold;
	color: #F57A82;
	.result-more &{
		text-align: left;
		margin-top: 0px; 
		padding-top: 0px ;
	}
	&.season:before{
		content: '盛';
		position: relative;
		padding: 1px 3px;
		margin-right: 3px;
		@include borderRadius(#fff, #ED5276 , 5px);
	}
}

.moreinfo{
	display: block;
	padding: 23px;
	padding-bottom: 5px;
	// transition: 0.3s ease;
	@extend .box-shadow;
	.result-item{
		width: 100%;
		display: flex;
		margin-bottom: 15px;
	}
	.result-img{
		width: 90px;
		height: 90px;
		text-align: center;
		color: #545454;
		font-weight: bold;
	}
	.fruitname {
		text-align: left;
		margin-top: 0px;
		padding-top: 0px;
	}
	.result-info{
		width: calc(100% - 90px);
		height: fit-content;
		text-align: left;
		font-weight: initial;
		padding-left: 13px;
		padding-top: 5px;
		> :not(h4) {
			display: block;
		}
	}

}

.result-more{
	width: 100%;
	display: flex;
	margin-bottom: 15px;
}


.result-more-title{
	width: 90px;
	height: 90px;
	text-align: center;
	color: $lightBlack;
	font-weight: bold;
}

.result-more-content{
	@extend .result-more-title;
	width: calc(100% - 90px);
	height: fit-content;
	text-align: left;
	font-weight: initial;
	padding-left: 13px;
	padding-top: 5px;
}

.tags{
	display: inline-block;
	padding: 1px 3px;
	border-radius: 5px;
	font-size: 10px;
	margin-right: 3px;
	width: fit-content;
	text-align: center;
}

.chart-tags{
	margin-bottom: 10px;
}

.result-more-tag{
	background: $blue;
	color: #fff;
}

.result-more-tag{
	@extend .result-more-tag;
}

.quantity{
	float: right;
}

.season-tag{
	position: relative;
}

.fav-tag{
	display: block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	margin: 1px;
	cursor: pointer;
	-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.content-style{
	margin-bottom: 15px;
	border-radius: 5px;
	background: $bgColor;
}


// Block chart
.chart-block{
	display: block;
	align-items: center;
	@extend .box-shadow, .content-style;
	padding: 15px;
	.plan-s &{
		display: none;
	}
}

.chart-block-title{
	font-size: 14px;
	color: $lightBlack;
	margin-bottom: 10px;
}

.chart{
	display:flex;
	width: 100%;
	align-items: center;
	animation: moveFruitBlock linear 0.5s;
	animation-iteration-count: 1;
}

.chart-img{
	width: 50%;   
	float: left;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.chart-table{
	width: 60%;
	margin: 10px auto;
	.n-value{
		float: right;
	}
}

#myChart{
	position: relative;
	height: 0;
	width: 100%;
	padding-bottom: 100%;
	// background: conic-gradient($protein 0 30%, $carbohydrates 30% 60%, $fat 60% 100%);
	border-radius: 50%;
	box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.12);
	&:after{
		content: '';
		position: absolute;
		width: 70%;
		height: 70%;
		top: calc(50% - 35%);
		left: calc(50% - 35%);
		@include borderRadius( initial, $white , 50%);
		background: #fff;
	}
}

#kcal{
	position: absolute;
	font-weight: bold;
	font-size: $fontTitle;
	&:after{
		content: 'Kcal';
		position: absolute;
		top: 1.8rem;
		left: calc(50% - 12px);
		font-size: 12px;
		font-weight: 200;
	}
}

.chart-value{
	width: 50%;   
	float: left;
	color: $lightBlack;
	font-size: 14px;
	.chart-ul{
		margin-left: 0.5em;
		font-weight: bold;
		.chart-li{
			margin-bottom: 2px;
			&.protein{color: #3C989E;}
			&.carbohydrates{color: #F4CDA5;}
			&.fat{color: #F57A82;}
		}
	}
	.dietaryFiber{
		font-size: 10px;
		text-indent: 1.2em;
	}
	.sugar{
		@extend .dietaryFiber;
	}
}

.nutrient-con{
	float: right;
	font-weight: 400;
	&:after{
		content: ' g';
	}
}



// keyframes
@keyframes moveFruitBlock{
	0% {
		opacity: 0;
		transform: translate(0,10px);
	}
	100% {
		opacity: 1;
		transform: translate(0,0);
	}
}
